.house-topic-above-post-stream,
.house-creative.house-post-bottom,
.house-topic-above-suggested {
  max-width: 100%;
  a.donate-bar {
    .ad-container {
      max-width: 100%;
    }
  }
}

.house-topic-above-post-stream {
  margin: 0 0 1.25em 0;
}
