$donate-panel-width: calc(#{$topic-avatar-width} + #{$topic-body-width} + (#{$topic-body-width-padding} * 2));

// Topic above post stream

.house-topic-above-post-stream {
  max-width: $donate-panel-width;
  margin: 0 0 2em 0;
  a.donate-bar {
    color: var(--primary);
    .ad-container {
      max-width: 100%;
      padding: 11px;
      text-align: center;
      border: 1px solid var(--primary-low);
      span.label-strong {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

// Between Posts

.house-creative.house-post-bottom {
  max-width: $donate-panel-width;
  margin: 0;
  a.donate-bar {
    color: var(--primary);
    .ad-container {
      max-width: 100%;
      padding: 11px;
      text-align: center;
      border: 1px solid var(--primary-low);
      span.label-strong {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

// Topic Above Suggested

.house-topic-above-suggested {
  max-width: $donate-panel-width;
  margin: 2.5em 0 0 0;
  a.donate-bar {
    color: var(--primary);
    .ad-container {
      max-width: 100%;
      padding: 11px;
      text-align: center;
      border: 1px solid var(--primary-low);
      span.label-strong {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

// Donate Bar

.goal-cont {
  background-color: var(--primary-low);
  color: var(--primary);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  position: relative;
  border-radius: 1em;
  margin: 11px auto 0 auto;
  &__progress {
    background: var(--success);
    height: 100%;
    left: 0;
    position: absolute;
    border-radius: 1em;
    top: 0;
    transition: width 0.3s ease-out;
    width: calc((#{$current} / #{$goal}) * 100%);
    max-width: 100%;
  }
  &__title {
    background: var(--secondary);
    border: 2px solid var(--success);
    border-radius: 1em;
    padding: 3px 6px;
    opacity: 0.8;
    &:before {
      counter-reset: current-donate #{$current};
      content: "#{$left_symbol}" counter(current-donate) "#{$right_symbol}";
    }
  }
  &__bar {
    background: var(--secondary);
    border: 2px solid var(--success);
    border-radius: 1em;
    padding: 3px 6px;
    opacity: 0.8;
    .goal-bar__total {
      &:before {
        counter-reset: goal-donate #{$goal};
        content: "#{$goal_title} " "#{$left_symbol}" counter(goal-donate) "#{$right_symbol}" " /#{$period}";
      }
    }
  }
  &__title,
  &__bar {
    position: relative;
    z-index: 1;
  }
}
